# Compiler files
.github/
.keys/

broadcast/
node_modules/
broadcast/

cache/
out/
deployments/*

package-lock.json

broadcast/

# Ignores development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
